<h1>Show User</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Phone number:</strong>
    <%= @user.phone_number %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.live_path(@socket, UserLive.Edit, @user) %></span>
<span><%= link "Back", to: Routes.live_path(@socket, UserLive.Index) %></span>