<div class="survey-component-container">
    <h2>Demographics <i class="fa fa-check survey"></i></h2>
    <ul>
        <li>Year of birth: <%= @demographic.year_of_birth %></li>
        <li>Gender: <%= @demographic.gender %></li>
    </ul>
</div>