/* This file is for your main application css. */

@import "./phoenix.css";

$gray-medium-light: #eaeaea;

/* dropdown */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: auto;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;

      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */
.users {
     list-style: none;
     margin: 0;
     li {
       overflow: auto;
       padding: 10px 0;
       border-bottom: 1px solid $gray-medium-light;
	}
}

/* microposts */
.microposts {
     list-style: none;
     padding: 0;
     li {
       padding: 10px 0;
       border-top: 1px solid #e8e8e8;
     }

     .user {
       margin-top: 5em;
       padding-top: 0;
   }

   .content {
     display: block;
	 margin-left: 60px;
       img {
         display: block;
         padding: 5px 0;
       }
      }
      .timestamp {
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }

    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
	}
}

aside {
     textarea {
       height: 100px;
       margin-bottom: 5px;
     }
}

span.picture {
     margin-top: 10px;
      input {
        border: 0;
	}
}

.main {
  margin-left: 50px;
  padding: 0px 10px;
}

.stats {
overflow: auto; margin-top: 0; padding: 0;
a{
       float: left;
       padding: 0 10px;
       border-left: 1px solid $gray-lighter;
       color: gray;
       &:first-child {
         padding-left: 0;
border: 0; }
       &:hover {
         text-decoration: none;
         color: blue;
} }
     strong {
       display: block;
} }
   .user_avatars {
     overflow: auto;
     margin-top: 10px;
     .gravatar {
       margin: 1px 1px;
     }
a{
padding: 0;
} }
   .users.follow {
padding: 0; }

.wrap {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
