<h1>Minitwitter App</h1>
   <p>Hi <%= @user.name %>,</p>
<p>
   Welcome to the Minitwitter! Click on the link below to reset your password:
</p>
<%= Routes.password_reset_url(@conn, :edit, @token, email: @user.email) %>

<p>This link will expire in two hours.</p>
