Minitwitter App

Hi <%= @user.name %>,

Welcome to the Minitwitter! Click on the link below to reset your password:

   <%= Routes.password_resets_url(@conn, :edit, @token, email: @user.email) %>

This link will expire in two hours.
