<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= full_title(@view_template, assigns) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
      <header class="navbar navbar-fixed-top navbar-inverse">
          <div class="container">
              <a href="http://phoenixframework.org/" class="phx-logo">
                <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
              </a>
              <nav>
                  <ul>
                      <li><%= link "Home", to: Routes.page_path(@conn, :home) %></li>
                      <li><%= link "Contact", to: Routes.page_path(@conn, :contact) %></li>
                        <%= if @current_user do %>
                            <li><%= link "Users", to: Routes.user_path(@conn, :index) %></li>
                            <div class="dropdown">
                                <button class="dropbtn">Account</button>
                                <div class="dropdown-content">
                                    <ul>
                                        <li><%= link "Profile", to: Routes.user_path(@conn, :show, @current_user) %></li>
                                        <li><%= link "Settings", to: '#' %></li>
                                        <li class="divider"></li>
                                        <li><%= link "Log out", to: Routes.session_path(@conn, :delete, @current_user),
                                                                method: "delete" %></li>                      
                                    </ul>
                                </div>
                            </div>
                        <% else %>
                            <li><%= link "Log in", to: Routes.session_path(@conn, :new) %></li>
                        <% end %>
                  </ul>
              </nav>
          </div>
      </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
