<section class="phx-hero">
<h2>Welcome to Minitwitter App!</h2>
    Please
    <button class="button button-outline">
        <%= link "Sign up now!", to: Routes.user_path(@conn, :new) %>
    </button>
</section>
